@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

* {
	font-family: "ShadowsIntoLight-Regular", sans-serif;
	color: white;
}
@font-face {
	font-family: "ShadowsIntoLight-Regular";
	src: url(fonts/ShadowsIntoLight-Regular.ttf);
	font-style: normal;
	font-size: 30px;
}
main {
	background-color: rgb(41, 52, 123);
	width: 60%;

	text-align: center;

	margin: auto;
	color: white;
}
section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
header {
	width: 60%;
	text-align: center;
	font-size: 40px;
	margin: auto;

	background-color: rgb(41, 52, 123);
}

.miaw {
	width: 33%;
}
